#itemfeed.ui.items
	each post in feed
		.item(onclick="showContent(" + JSON.stringify(post) + ")")
			.ui.middle.aligned.basic.segment.date-segment
					.ui.header.day-header= post.postdate.day
					.ui.header.month-header= post.postdate.month
			.content
				.header.item-category= post.category
				.ui.divider
				.title
					p= post.title
				.description
					p= post.description
			.floating-type-icon
				#post
					if post.category === 'EVENT'
						i.fas.fa-star
					else if post.category === 'ANNOUNCEMENT'
						i.fas.fa-exclamation
					else if post.category === 'REMINDER'
						i.fas.fa-sticky-note